<nav class='navigation'>
  <div class='navigation-item'>Home</div>
  <div class='navigation-item'>Products</div>
  <div class='navigation-item'>Customers</div>
  <div class='navigation-item'>About</div>
  <div class='navigation-item'>Contact</div>
</nav>

<div class="padding-all-extra-small">
  <h1 class='headline-extra-large'>Lorem ipsum dolor sit amet</h1>
  <h2 class='headline-large'>Lorem ipsum dolor sit amet</h2>
  <h3 class='headline-medium'>Lorem ipsum dolor sit amet</h3>
  <h4 class='headline-small'>Lorem ipsum dolor sit amet</h4>
  <h5 class='headline-extra-small'>Lorem ipsum dolor sit amet</h5>
</div>

<div class="padding-all-extra-small row">
  <div class="column column1of2">
    <button class="button button-danger">Delete</button>
  </div>
  <div class="column column1of2 text-align-right">
    <button class="button button-success">Save</button>
  </div>
</div>