$border-radius-sizes: (extra-small: 1px, small: 2px, medium: 4px, large: 8px, extra-large: 100%) !default
$border-widths: (extra-small: 1px, small: 2px, medium: 4px, large: 8px, extra-large: 16px) !default
$breakpoints: (large: 900px, medium: 600px, small: 400px) !default
$browser-minimum-versions: ('chrome': '31', 'firefox': '35', 'ie': '9', 'safari': '7.1') !default
$colors: ('white': #FFF, 'black': #000, 'grey': #CCC, 'blue': #acace8, 'red': #ef7676, 'green': #84dd84) !default
$fixed-sizes: (extra-small: 8px, small: 24px, medium: 72px, large: 216px, extra-large: 648px) !default
$fixed-spaces: (extra-small: 16px, small: 48px, medium: 80px, large: 128px, extra-large: 224px) !default
$font-sizes: (extra-small: 80%, small: 100%, medium: 140%, large: 200%, extra-large: 280%) !default
$font-weights: (light: 200, normal: 400, bold: 600, extra-bold: 700, 'black': 800) !default
$line-heights: (extra-small: 100%, small: 130%, medium: 170%, large: 230%, extra-large: 330%) !default
$opacities: ('10': 0.1, '20': 0.2, '30': 0.3, '40': 0.4, '50': 0.5, '60': 0.6, '70': 0.7, '80': 0.8, '90': 0.9, '100': 1) !default
$responsive-spaces: (extra-small: 1%, small: 3%, medium: 7%, large: 13%, extra-large: 21%) !default
$side-combinations: (vertical: ('top', 'bottom'), horizontal: ('left', 'right'), all: ('top', 'right', 'bottom', 'left')) !default
$sides: ('top', 'right', 'bottom', 'left') !default
$sizes: (extra-small: 5%, small: 15%, medium: 20%, large: 50%, extra-large: 100%) !default
$supported-browsers: ('chrome', 'firefox', 'ie', 'safari', 'opera') !default
