!!!
%html{:lang => "en"}
  %head
    %link(rel="stylesheet" type="text/css" href="cssop.css")
  %body

    %h1.headline-extra-large CSSoP (CSS on principles)

    %section

      %h2.headline-large Modules

      %section

        %h3.headline-medium Font Sizes

        %p
          %span.font-size-extra-small .font-size-extra-small
          %span.font-size-small .font-size-small
          %span.font-size-medium .font-size-medium
          %span.font-size-large .font-size-large
          %span.font-size-extra-large .font-size-extra-large

      %section

        %h3.headline-medium Font Weights

        %p
          %span.font-weight-extra-small .font-weight-extra-small
          %span.font-weight-small .font-weight-small
          %span.font-weight-medium .font-weight-medium
          %span.font-weight-large .font-weight-large
          %span.font-weight-extra-large .font-weight-extra-large

    %section

      %h2.headline-large Components

      .headline-extra-large .headline-extra-large
      .headline-large .headline-large
      .headline-medium .headline-medium
      .headline-small .headline-small
      .headline-extra-small .headline-extra-small
