.fixed-height-extra-small
  height: 20px

.fixed-height-small
  height: 32px

.fixed-height-medium
  height: 48px

.fixed-height-large
  height: 70px

.fixed-height-extra-large
  height: 100px

.height-extra-small
  height: 5%

.height-small
  height: 15%

.height-medium
  height: 20%

.height-large
  height: 50%

.height-extra-large
  height: 100%

.height-full
  @extend .height-extra-large

.height-fix
  min-height: 1px