.height-minimum-fixed
  min-height: 1px

.height-extra-small-fixed
  height: 8px

.height-small-fixed
  height: 24px

.height-medium-fixed
  height: 72px

.height-large-fixed
  height: 216px

.height-extra-large-fixed
  height: 648px

.height-extra-small
  height: 5%

.height-small
  height: 15%

.height-medium
  height: 20%

.height-large
  height: 50%

.height-extra-large
  height: 100%

.height-full
  @extend .height-extra-large